<aside>
    <header (click)="navigateTo('/admin')">
        <div>
            <p>Rent-a-Ride</p>
        </div>
    </header>
    <nav class="side-navigation">
        <ul class="list">
            <li (click)="navigateTo('/booking-details')"><i class="fa fa-ship"></i>Booking Details</li>
            <li (click)="navigateTo('/admin-user-details')"><i class="fa fa-users"></i>Users Details</li>
            <li (click)="navigateTo('/admin-car-details')" ><i class="fa fa-comments"></i>Car Details</li>
            <li  (click)="navigateTo('/transaction-details')"><i class="fa fa-area-chart"></i>Transaction Details</li>
        </ul>
    </nav>
</aside>
<main>
    <header class="main-head">
        <div class="rent-a-ride">
           User Details Page
        </div>
        <div class="search">
            <input type="text" name="search" placeholder="Type here to search..." autocomplete="off" [(ngModel)]="searchText" (keyup)="filterUsers()"><i class="fa fa-search"></i>
        </div>
    </header>
    
    <!-- main content--> 
     
        
        

       <!-- User Summary Table -->
       <table class="User-summary">
        <app-loader></app-loader>
        <thead>
            <tr>
                <th>User Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone No</th>
                <th>Gender</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let user of users | filter: searchText">
                <tr *ngIf="!searchText || user.name.toLowerCase().includes(searchText.toLowerCase())">
                    <td>{{ user._id }}</td>
                    <td>{{ user.userName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.mobileNumber }}</td>
                    <td>{{ user.gender }}</td>
                    <td>{{ user.age }}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
  
  



</main>
