.my-booking-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
#active {
  background-color: black;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.booking-type-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.booking-type-buttons a {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  transition: background-color 0.3s ease;
}

.booking-type-buttons a:hover {
  background-color: #0056b3;
}

.booking-details {
  margin-bottom: 30px;
}

.booking-details h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.booking-info {
  display: flex;
  margin-bottom: 20px;
}

.booking-info div {
  flex: 1;
}

.booking-info h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.booking-info p {
  margin: 0;
}

.car-details {
  margin-top: 20px;
}

.car-details h4 {
  font-size: 18px;
  margin-bottom: 15px;
}

.car-info p {
  font-size: 16px;
  margin-bottom: 5px;
}
