<div class="my-booking-container">
  <h2>My Bookings</h2>
  <div class="booking-type-buttons">
    <a href="#">Ongoing Bookings</a>
    <a id="active" href="#">Previous Bookings</a>
  </div>
  <div class="booking-details">
    <div class="booking-info">
      <div class="order-info">
        <h4>Order Number:</h4>
        <p>12345</p>
      </div>
      <div class="amount-info">
        <h4>Total Amount:</h4>
        <p>$500</p>
      </div>
    </div>
    <div class="car-details">
      <h4>Car Details</h4>
      <div class="car-info">
        <p><strong>Model:</strong> XYZ</p>
        <p><strong>Brand:</strong> ABC</p>
        <p><strong>Capacity:</strong> 5</p>
        <p><strong>Fuel Type:</strong> Petrol</p>
        <p><strong>Car Type:</strong> Sedan</p>
        <p><strong>Car Insurance No:</strong> XYZ123</p>
      </div>
    </div>
  </div>
  <div class="booking-type-buttons">
    <a href="#">Feedback</a>
  </div>
</div>
