p {
  font-family: Lato;
}

#root {
  padding: 30px;
}

.register-form {
  max-width: 350px;
  margin: auto;
}
p {
  font-family: Lato;
}

#root {
  padding: 30px;
}

.register-form {
  max-width: 350px;
  margin: auto;
}

button {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
