
<div id="body">
<div class="forgot-password-box">
    <h1 class="forgot-password-heading">Forget Password</h1>
    <p class="instructions"><span>Enter your email and we'll send you instructions on how to reset your password.</span></p>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="email-form">
      <input type="email" class="email-input" placeholder="Email" formControlName="email">
      <ng-container *ngIf="getEmail()">
        <div *ngIf="getEmail()?.errors?.['required'] && (getEmail()?.dirty || getEmail()?.touched)">
          <div class="error-message">Email is required</div>
        </div>
        <div *ngIf="getEmail()?.errors?.['email'] && (getEmail()?.dirty || getEmail()?.touched)">
          <div class="error-message">Email invalid</div>
        </div>
      </ng-container>
      <div class="button-container">
        <button type="submit" class="submit-button" [disabled]="forgotPasswordForm.invalid">Submit</button>
        <button type="button" class="cancel-button" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>