.forgot-password-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: white;
}

#body {
  display: grid;
  place-items: center;
  background-color: white;
  height: 100vh;
  width: 100vw;
}

.forgot-password-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #eb8028;
}

.instructions {
  font-size: 1.1rem;
  margin-bottom: 40px;
}

.email-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.email-input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 1rem;
  margin-bottom: 30px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.submit-button,
.cancel-button {
  width: 45%;
  height: 40px;
  background-color: #2b2e4a;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 10px;
}

.submit-button:hover,
.cancel-button:hover {
  background-color: #3e8e41;
}

.cancel-button {
  background-color: #f44336;
}

.cancel-button:hover {
  background-color: #da190b;
}

.error-message {
  color: red;
  margin-bottom: 50px;
  margin-right: 250px;
}
