<aside>
    <header>
        <div><img class="profile-picture" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2za5BkrRdiLySsA5tgm_SwWZqemTjg42T9PTME4hJEA&amp;s">
            <p>Jane Doe</p>
        </div>
    </header>
    <nav class="side-navigation">
        <ul>
            <li class="active"><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li><a href="/booking-details"><i class="fa fa-ship"></i>Booking Details</a></li>
            <li><a href="/admin-user-details"><i class="fa fa-users"></i>Users Details</a></li>
            <li><a href="/admin-car-details"><i class="fa fa-comments"></i>Car Details</a></li>
            <li><a href="/transaction-details"><i class="fa fa-area-chart"></i>Transaction Details</a></li>
        </ul>
    </nav>
</aside>
<main>
    <header class="main-head">
        <div class="rent-a-ride">
            Rent-a-Ride
        </div>
        <div class="search">
            <input type="text" name="search" placeholder="Type here to search..." autocomplete="off"><i class="fa fa-search"></i>
        </div>
    </header>
    <div class="container user">
        <div class="user-card">
            <figure><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2za5BkrRdiLySsA5tgm_SwWZqemTjg42T9PTME4hJEA&amp;s"></figure>
            <div class="user-info">
                <div class="name"><span>Jane Doe</span></div>
                <div class="user-role">
                    Admin
                </div>
            </div>
        </div>
        <div class="action-links">
            <ul>
                <li><a href="#" data-title="Edit profile"><i class="fa fa-pencil"></i></a></li>
                <li><a href="#" data-title="Sign out"><i class="fa fa-sign-out"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- main content-->
    <div class="wrapper">
        <ul class="category-navigation">
            <li class="active"><a href="#">Statistics</a></li>
        </ul>
    </div>
</main>
