<div class="body">
<div class="container">
    <h1>Feedback Page</h1>
    <form>
        <label for="overall-ratings" class="rating-label">Overall Ratings</label>
        <div id="overall-ratings">
            <label><input type="radio" name="overall-ratings" value="1">1</label>
            <label><input type="radio" name="overall-ratings" value="2">2</label>
            <label><input type="radio" name="overall-ratings" value="3">3</label>
            <label><input type="radio" name="overall-ratings" value="4">4</label>
            <label><input type="radio" name="overall-ratings" value="5">5</label>
        </div>

        <label for="cleanliness" class="rating-label">Rate Cleanliness</label>
        <div id="cleanliness">
            <label><input type="radio" name="cleanliness" value="1">1</label>
            <label><input type="radio" name="cleanliness" value="2">2</label>
            <label><input type="radio" name="cleanliness" value="3">3</label>
            <label><input type="radio" name="cleanliness" value="4">4</label>
            <label><input type="radio" name="cleanliness" value="5">5</label>
        </div>

        <label for="performance" class="rating-label">Rate Performance</label>
        <div id="performance">
            <label><input type="radio" name="performance" value="1">1</label>
            <label><input type="radio" name="performance" value="2">2</label>
            <label><input type="radio" name="performance" value="3">3</label>
            <label><input type="radio" name="performance" value="4">4</label>
            <label><input type="radio" name="performance" value="5">5</label>
        </div>
        
        <label for="comfort" class="rating-label">Rate Comfort</label>
        <div id="comfort">
            <label><input type="radio" name="comfort" value="1">1</label>
            <label><input type="radio" name="comfort" value="2">2</label>
            <label><input type="radio" name="comfort" value="3">3</label>
            <label><input type="radio" name="comfort" value="4">4</label>
            <label><input type="radio" name="comfort" value="5">5</label>
        </div>
        
        <label for="fuel-efficiency" class="rating-label">Rate Fuel Efficiency</label>
        <div id="fuel-efficiency">
            <label><input type="radio" name="fuel-efficiency" value="1">1</label>
            <label><input type="radio" name="fuel-efficiency" value="2">2</label>
            <label><input type="radio" name="fuel-efficiency" value="3">3</label>
            <label><input type="radio" name="fuel-efficiency" value="4">4</label>
            <label><input type="radio" name="fuel-efficiency" value="5">5</label>
        </div>

        <label for="comments" class="comment">Comments</label>
        <textarea id="comments" name="comments"></textarea>

        <input type="submit" value="Submit">
    </form>
</div> 
</div>

