<div class="body">
    <!-- Navigation Section -->
    <nav>
        <a href="#"><h1>Car Details Page</h1></a>
    </nav> 
    <!-- Main Content Container -->
    <div class="container">
        <!-- Left Section -->
        <section class="left-section">
            <div class="car-details" (click)="navigateTo('/admin-car-details')">Car Details</div>
            <div class="booking-details" (click)="navigateTo('/booking-details')">Booking Details</div>
            <div class="user-details" (click)="navigateTo('/admin-user-details')">User Details</div>
            <div class="transaction-details" (click)="navigateTo('/transaction-details')">Payments Details</div>
        </section>
        <!-- Right Section -->
        <section class="right-section">
            <!-- Search Container -->
            <div class="search-container">
                <input type="text" placeholder="Search using anything" class="search-box">
                <button class="search-button">Search</button>
            </div>
            <!-- Car Summary Table -->
            <table class="car-summary">
                <thead>
                    <tr>
                        <th>User Id</th>
                        <th>Car Id</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Year</th>
                        <th>Car No Plate</th> 
                        <th>Capacity</th>
                        <th>Type</th>
                        <th>Fuel Type</th>
                        <th>Price/hour</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Add rows with data here -->
                    <tr *ngFor="let car of cars">
                        <td>{{ car.userId }}</td>
                        <td>{{ car._id }}</td>
                        <td>{{ car.carBrand }}</td>
                        <td>{{ car.carModel }}</td>
                        <td>{{ car.carYear }}</td>
                        <td>{{ car.carNoPlate }}</td>
                        <td>{{ car.carCapacity }}</td>
                        <td>{{ car.carType }}</td>
                        <td>{{ car.carFuelType }}</td>
                        <td>{{ car.carPricePerHour }}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>
