<aside>
    <header (click)="navigateTo('/admin')">
        <div>
            <p>Rent-a-Ride</p>
        </div>
    </header>
    <nav class="side-navigation">
        <ul class="list">
            <li (click)="navigateTo('/booking-details')"><i class="fa fa-ship"></i>Booking Details</li>
            <li (click)="navigateTo('/admin-user-details')"><i class="fa fa-users"></i>Users Details</li>
            <li (click)="navigateTo('/admin-car-details')" ><i class="fa fa-comments"></i>Car Details</li>
            <li  (click)="navigateTo('/transaction-details')"><i class="fa fa-area-chart"></i>Transaction Details</li>
        </ul>
    </nav>
</aside>
<main>
    <header class="main-head">
        <div class="rent-a-ride">
           Car Details Page
        </div>
        <div class="search">
            <input type="text" name="search" placeholder="Type here to search..." autocomplete="off" [(ngModel)]="searchText" (keyup)="filterCars()"><i class="fa fa-search"></i>
        </div>
    </header>
    
    <!-- main content--> 
    
    
        
        
        <!-- Car Summary Table -->
        <table class="car-summary">
            <thead>
                <tr> 
                    <th>User Id</th>
                    <th>Car Id</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Car No Plate</th> 
                    <th>Capacity</th>
                    <th>Type</th>
                    <th>Fuel Type</th>
                    <th>Price/hour</th>
                </tr>
            </thead>
            <tbody>
                <!-- Add rows with data here -->
                <ng-container *ngFor="let car of cars | modelFilter: searchText">
                    <tr *ngIf="!searchText || car.name.toLowerCase().includes(searchText.toLowerCase())">
                        <td>{{ car.userId }}</td> 
                        <td>{{ car._id }}</td>
                        <td>{{ car.carBrand }}</td>
                        <td>{{ car.carModel }}</td>
                        <td>{{ car.carYear }}</td>
                        <td>{{ car.carNoPlate }}</td>
                        <td>{{ car.carCapacity }}</td>
                        <td>{{ car.carType }}</td>
                        <td>{{ car.carFuelType }}</td>
                        <td>{{ car.carPricePerHour }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
  </main>
