<div class="card-wrapper">
  <div class="card">
    <!-- card left -->
    <div class="product-imgs">
      <div class="img-display">
        <div class="img-showcase">
          <img
            src="https://images.unsplash.com/photo-1494976388531-d1058494cdd8?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="shoe image"
          />
        </div>
      </div>
    </div>
    <!-- card right -->
    <div class="product-content">
      <h2 class="product-title">{{ brand }},{{ model }}</h2>

      <div class="product-rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
        <span>{{ productRating }}</span>
      </div>

      <div class="product-price">
        <p class="new-price">
          Price/h: <span>{{ price }}</span>
        </p>
      </div>

      <div class="product-detail">
        <ul>
          <li>
            Brand: <span>{{ brand }}</span>
          </li>
          <li>
            Model: <span>{{ model }}</span>
          </li>
          <li>
            Capacity: <span>{{ capacity }}</span>
          </li>
          <li>
            Type: <span>{{ type }}</span>
          </li>
          <li>
            Fuel Type: <span>{{ fuelType }}</span>
          </li>
          <li>
            Mileage: <span>{{ mileage }}</span>
          </li>
          <li>
            Year: <span>{{ year }}</span>
          </li>
        </ul>
      </div>

      <div class="purchase-info">
        <button (click)="payNow()" type="button" class="btn">
          Checkout <i class="fas fa-shopping-cart"></i>
        </button>
      </div>
    </div>
  </div>
</div>
