<div id="main">
  <div class="wrapper">
    <div class="title">Sign Up</div>
    <form action="#">
      <div class="field">
        <input type="text" required />
        <label>User Name</label>
      </div>
      <div class="field">
        <input type="text" required />
        <label>Email Address</label>
      </div>
      <div class="field">
        <input type="password" required />
        <label>Password</label>
      </div>

      <div class="field">
        <input type="submit" value="Register" />
      </div>
      <div class="signup-link">
        Already registered? <a href="#">SignIn now</a>
      </div>
    </form>
  </div>
</div>
